.createTripHeading {
    font-weight: 700;
    font-size: 40px;
    font-family: sans-serif;
    text-align: initial;
    margin-left: 114px;
}

.createTripHeadingText {
    font-family: sans-serif;
    text-align: initial;
    margin-left: 114px;
    font-size: 30px;
    font-weight: 500;
    width: 788px;
    line-height: 2;
    margin-top: 35px;
}

.createTripImage {
    width: 82%;
    margin-bottom: 10%;
    box-shadow: 0px 10px 1px -1px #1ec28b !important;
}

.createTripStepperHeading {
    font-family: sans-serif;
    text-align: initial;
    margin-left: 110px;
    font-size: 30px;
    font-weight: 500;
    line-height: 2;
    margin-top: -80px;
    margin-bottom: 60px;
    box-shadow: 0px 2px 1px -1px  #1ec28b  !important;
}

.createTripStepper{
    font-family: sans-serif;
    text-align: initial;
    /* margin-left: 100%; */
    margin: 81px;
    margin-left: 31px;
    width: 201%;
    margin-top: 25px;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
    color: #1ec28b !important;
    font-size: xxx-large !important;
    margin-top: -13px !important;
    margin-left: -5px !important;
}


.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
    color: #1ec28b !important;
    
}


.createTripStepTravellerText{
    font-size: 24px;
    width: 184px;
    font-weight: 700;
    /* margin-top: 48px; */
    font-family: sans-serif;
}

.createTripStepTravellerSubText{
    width: 145px;
    margin-left: 20px;
    font-size: 15px;
    color: grey;
}

.createTripStepText{
    font-size: 25px;
    width: 134px;
    font-weight: 700;
    /* margin-top: 48px; */
    font-family: sans-serif;
    margin-left: 100px;
}

.createTripStepSubText{
    width: 158px;
    margin-left: 90px;
    font-size: 15px;
    color: grey;
}

.createTripStepStartText{
    font-size: 25px;
    width: 345px;
    font-weight: 700;
    /* margin-top: 48px; */
    font-family: sans-serif;
    margin-left: 6px;
}


.createTripStepStartSubText{
    width: 158px;
    margin-left: 84px;
    font-size: 15px;
    color: grey;
}


.createTripStepDestinationText{
    font-size: 25px;
    width: 286px;
    font-weight: 700;
    /* margin-top: 48px; */
    font-family: sans-serif;
    margin-left: 96px;
}

.createTripStepDestinationSubText{
    width: 158px;
    margin-left: 155px;
    font-size: 15px;
    color: grey;
}

.createTripStepFullDetailText{
    font-size: 24px;
    width: 199px;
    font-weight: 700;
    /* margin-top: 48px; */
    font-family: sans-serif;
    margin-left: 145px;
}

.createTripStepFullDetailSubText{
    width: 158px;
    margin-left: 175px;
    font-size: 15px;
    color: grey;
}


.createTripImg{
    height: 52px !important;
    margin-left: -6px;
    font-size: 30px;
    margin-top: 5px;
    color: white;
    padding-top: -45px;
    padding-left: 5px;
}

.createTripcontainer {
    height: 5px;
    width: 5px;
    margin-left: -134px;
    margin-top: 173px;
    display: grid;

}

.createTripinner {
    height: 50px;
    width: 50px;
    background:#1ec28b;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    /* margin-left: 120px; */
    margin-top: 1%;
    /* border: 1.5px solid #1ec28b !important;   */
}

.createTripBack{
    display: flex;
    margin-left: 69%;
    margin-bottom: 80px;
    margin-top: 80px;
}


@media screen and (max-width: 960px) {

    .createTripHeading {
        font-weight: 700;
        font-size: 30px;
        font-family: sans-serif;
        text-align: initial;
        margin-left: 37px;
    }

    .createTripHeadingText {
        font-family: sans-serif;
        text-align: initial;
        margin-left: 37px;
        font-size: 15px;
        font-weight: 500;
        width: 317px;
        line-height: 2;
        margin-top: 20px;
    }

    .createTripImage {
        width: -webkit-fill-available;
        margin-bottom: 10%;
        box-shadow: 0px 10px 1px -1px #1ec28b !important;
    }

    .createTripStepperHeading {
        font-family: sans-serif;
        text-align: initial;
        margin-left: 43px;
        font-size: 20px;
        font-weight: 600;
        line-height: 2;
        width: 286px;
        margin-top: -24px;
        box-shadow: 0px 2px 1px -1px #1ec28b !important;
    }
    .createTripStepper{
        font-family: sans-serif;
        text-align: initial;
        margin-left: -64px;
    }
    
    .css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
        color: #1ec28b !important;
    }
    
    .createTripStepTravellerText{
        visibility: hidden;
    }
    
    .createTripStepTravellerSubText{
        visibility: hidden;
    }
    
    .createTripStepText{
        visibility: hidden;
    }
    
    .createTripStepSubText{
        visibility: hidden;
    }
    
    .createTripStepStartText{
        visibility: hidden;
    }
    
    
    .createTripStepStartSubText{
        visibility: hidden;
    }
    
    
    .createTripStepDestinationText{
        visibility: hidden;
    }
    
    .createTripStepDestinationSubText{
        visibility: hidden;
    }
    
    .createTripStepFullDetailText{
        visibility: hidden;
    }
    
    .createTripStepFullDetailSubText{
        visibility: hidden;
    }
    
    
    .createTripImg{
        height: 52px !important;
        margin-left: -6px;
        font-size: 30px;
        margin-top: 5px;
        color: white;
        padding-top: -45px;
        padding-left: 5px;
    }
    
    .createTripcontainer {
        height: 5px;
        width: 5px;
        margin-left: 200px;
        margin-top: 60px;
        display: none;
    
    }
    
    .createTripinner {
        height: 50px;
        width: 50px;
        background:#1ec28b;
        border-radius: 100px;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;
        margin-left: 120px;
        margin-top: 1%;
        /* border: 1.5px solid #1ec28b !important;   */
    }
    
    .createTripBack{
        display: flex;
        margin-left: 69%;
        margin-bottom: 80px;
        margin-top: 80px;
        column-gap: 10px !important;
    }

    .createTripStepper{
        font-family: sans-serif;
        text-align: initial;
        /* margin-left: 100%; */
        /* margin: 81px; */
        margin-left: -30px !important;
        width: 80% !important;
        margin-top: 25px;
    }
}

