.forgotContainer {
  background-color: aliceblue;
  /* padding: 0!important; */
}
.imageDiv {
  background-color: white;
  height: 100%;
  width: 100%;
}

.forgotOuterContainer {
  padding-top: 30px;
  padding-bottom: 145px;
  padding-left: 60px;
}

.forgotImage {
  width: 241px;
  display: flex;
  /* margin-bottom: -43px; */
  /* margin-top: 10px; */
  margin-left: 30px;
}
.backIcon {
  display: flex;
}
.forgetEmailLabel {
  margin-top: 10px;
  margin-right: 447px;
}
.inputEmail {
  width: 465px;
  height: 40px;
  margin-right: 22px;
  margin-top: 10px;
}
.emailError {
  color: red;
  margin-right: 415px;
  margin-top: 5 px;
}
.resetButton {
  margin-right: 265px;
  margin-top: 30px;
  font-size: 20px;
  border: none;
  border-radius: 35px;
  height: 42px;
  font-size: 20px;
  width: 230px;
  background-color: #1ec28b;
  color: #ffffff;
}
.itemMainGrid {
  margin-top: 10px !important;
}
.backLoginText {
  margin-left: 10px;
  margin-bottom: 20px;
  font-weight: 350px;
}
.forgotInnerContainer {
  width: 60%;
  padding: 2px;
  background-color: white;
  height: 360px;
  /* margin-left: 3%; */
  /* margin-top: 40px; */
}
.forgetPasswordHeading {
  margin-right: 215px;
}
/* .formMainGrid{
  margin-top: 5px;
} */
.pleaseText {
  /* margin-top: 45px; */
  /* margin-bottom: -18px; */
  font-weight: 350;
  /* margin-right: 12px; */
  margin-left: -100px;
}
input.password {
  margin-bottom: 15px;
}

.return-login-btn {
  padding-left: 60px;
}
h2.reset-text {
  margin-top: -50px;
}
h1.forget-text {
  margin-top: -50px;
  margin-right: 280px;
}

/* @media only screen and (max-width: 480px) {
  header.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionStatic.MuiAppBar-colorPrimary.MuiPaper-elevation4 {
    background-color: aliceblue !important;
    display: flex;
  }
  span.return-login-btn {
    display: none;
  }
  span.return-login {
    display: block;
  }

  .forgotInnerContainer {
    width: auto;
    padding: 30px;
    margin-left: 0px !important;
  }
  .forgotOuterContainer {
    width: 100% !important;
    padding: 0px;
  }
  button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary {
    margin-bottom: 15px;
  }
  h1.forget-text {
    margin-top: -15px;
  }
  img.nav-img {
    margin-left: 4% !important;
    display: flex !important;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  input.password {
    margin-bottom: 15px;
  }
  h2.reset-text {
    margin-top: -15px;
  }
} */

/* @media screen and (min-width: 900px) {
  span.return-login {
    display: none !important;
  }
} */
@media only screen and (max-width: 480px) {
  .forgotMain {
    width: 100% !important;
    height: 120px !important;
    /* background-color: aliceblue !important; */
  }
  
  .forgotInnerContainer {
    width: 100% !important;
  }
  .forgetPasswordHeading {
    margin-right: 0px !important;
    font-size: 30px !important;
    margin-left: -105px !important;
  }
  .imageDiv {
    background-color: aliceblue !important;
    width: 100% !important;
  }
  .forgotImage {
    width: 100% !important;
    margin-left: 0px !important;
    padding-top: 25px !important;
  }

  .forgotOuterContainer {
    display: flex !important;
    flex-direction: column-reverse !important;
    padding: 0 !important;
  }
  .forgotContainer {
    background-color: white !important;
  }
  .inputEmail {
    width: 320px !important;
  }
  .backIcon {
    margin-top: 90px !important;
  }
  .backIcon {
    margin-top: -40px !important;
    margin-left: 160px !important;
  }
  .forgetEmailLabel {
    margin-top: 10px;
    margin-right: 317px;
  }
  .forgotHr {
    visibility: hidden !important;
  }
  .pleaseText {
    margin-top: 35px;
    margin-left: 5px !important;
    /* margin-bottom: -18px; */
    /* font-weight: 350; */
    font-size: 16px;
    margin-right: -21px;
  }
  .resetButton {
    margin-right: 165px !important;
    margin-top: 35px;
    font-size: 20px;
    border: none;
    border-radius: 35px;
    height: 42px !important;
    font-size: 17px !important;
    width: 200px !important;
    background-color: #1ec28b;
    color: #ffffff;
  }
  .emailError {
    margin-left: 45px !important;
  }
}
